body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerColor {
    position: absolute;
    min-height: 80vh;
    width: 100%;
    background-color: #0891b2;
    transform: skewY(-7deg) translateY(-300px);
    z-index: -1;
}

.header figure {
    margin: 0;
}

.header figcaption {
    font-size: 38px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .30);
    border-radius: 30px;
    padding: 0 20px;
    border: 5px solid #19bfe9;
    background-color: #0891b2;
    font-style: bold;
    transform: translateY(-200%);
    z-index: 2;
}

.header figure img {
    height: 80%;
}

.header .cardContent {
    text-indent: 0;
}

.main {
    margin: 0 10%;
    background-color: white;
}

.footer {
    background-color: #0891b2;
    min-height: 33vh;
}

.card {
    border: black solid 1px;
    box-shadow: 1px 1px 3px grey;
    min-height: 20vh;
    max-height: fit-content;
    max-width: 35%;
    padding: 10px;
    background-color: white;
}

.cardHeader {
    font-size: x-large;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: end;
}

.screenshots {
    margin-bottom: 5%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.projectCardContainer {
    border: black solid 1px;
    box-shadow: 1px 1px 3px grey;
}

.projectCardScreenshot {
    display: flex;
    padding: 25px 15px;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
}

.one {
    background-color: red;
}

.two {
    background-color: purple;
}

.three {
    background-color: green;
}

.four {
    background-color: pink;
}

.five {
    background-color: orange;
}

.six {
    background-color: blue;
}

.projectCardText {
    padding: 25px 15px;
    border-top: black solid 1px;
}