body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    min-height: 33vh;
    /* background-image: linear-gradient(350deg, white 0%,white 45%, #0891b2 45%, #0891b2 100%); */
}

.headerColor {
    position: absolute;
    min-height: 80vh;
    width: 100%;
    background-color: #0891b2;
    transform: skewY(-7deg) translateY(-300px);
    z-index: -1;
}

.header figure {
    margin: 0;
}

.header figcaption {
    font-size: 38px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .30);
    border-radius: 30px;
    padding: 0 20px;
    border: 5px solid #19bfe9;
    background-color: #0891b2;
    font-style: bold;
    transform: translateY(-200%);
    z-index: 2;
}

.header figure img {
    height: 80%;
}

.header .cardContent {
    text-indent: 0;
}

.main {
    background-color: white;
    min-height: 33vh;
}

.footer {
    background-color: #0891b2;
    min-height: 33vh;
}

.card {
    border: black solid 1px;
    min-height: 20vh;
    max-height: fit-content;
    max-width: 35%;
    padding: 10px;
    background-color: white;
}

.cardHeader {
    font-size: x-large;
    font-weight: bold;
}